# Python
*.pyc
__pycache__/
*.sqlite3
.env
venv/
db.sqlite3

# Django
/static/
media/
*.log

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs y editores
.vscode/
.idea/
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db
